body {
    background: #4ca3cc;
}

section > .main_content {
    font-size: 2.2rem;
}

section > .main_content > .about {
    padding: 20px;
}

/* 각각 다른 사이즈의 이미지들 크기 조정 */
section > .main_content > .item > .img_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section > .main_content > .item > .img_wrapper >.img {
    height: 330px;
    width: 420px;
    object-fit: cover;   /*이미지 늘어나지 않게.*/
    object-position: center center;
    border-radius: 50px;
}

/* 부모태그에 grid 적용 */
section > .main_content {
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%;   콜롬세로 몇개 템플릿? */
    grid-template-columns: 1fr;
    gap: 20px;
}


/* 반응형 */
@media screen and (min-width: 980px) {
    .section > .main_content {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width : 1368px) {
    .section > .main_content {
        grid-template-columns: repeat(3, 1fr);
    } 

    body {
        background-image: url(../img/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        background-position: center center;  
    }
} 


/* 이미지 타이틀 가운데 배치 */
section > .main_content > .item > .img_title {
    text-align: center;
    width: 420px;
    font-size: 1.5rem; 
}

/* 이미지 내용 가운데 배치 */
section > .main_content > .item > .img_content {
    text-align: center;
    width: 420px;
    font-size: 1.3rem;
    background-color: black;
    border-radius: 40px;
}

/* 이미지의 타이틀, 내용을 전체 div 가운데 배치 */
section > .main_content > .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;    /*움찔효과*/
    top: 0;                /*움찔효과*/
    transition: 0.3s;      /*움찔효과*/
}

section > .main_content > .item:hover {
    top: -8px;             /*움찔효과*/
}

/* 이미지, 제목, 내용 내부 여백 */
section > .main_content > .item > .img_wrapper, .img_content, .img_title {
    padding: 6px;
}