@import url(reset.css);   

/* 토대가 되는 css 파일 */
/* 배경, 폰트, navbar, content */

* {
	box-sizing: border-box;      /* 상자경계를 기준으로 사이징하겠다*/
    font-family: 'Jua', sans-serif;
} 

/* !!!!! 배경 == 적용 안된다 !!!!! */
body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center center;  
}

:root {
    --small-font-size : 20px;
    --medium-font-size : 26px;
    --large-font-size : 36px;
    --super-large-font-size : 42px;
}

/* 폰트 색상 및 사이즈 */
body {
    color: white;
}

/* 내비게이션 바 */
nav > ul > li {
    display: inline-block;     /* 리스트 가로 배치 */
    padding: 5px 13px;
    font-size: var(--small-font-size);
}

nav > ul > li > a {
    color: white;
    padding: 5px;
    font-weight: bold;    /*두껍게 처리*/
}

nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navbar_menu > li > a:hover {
    color: blue;
}

/* 왼쪽 로고 */
.logo {
    font-size: var(--medium-font-size);
}

/* 왼쪽 로고 가운데에 배치 */
#body_wrapper > .navbar_wrapper_content {
    display: flex;
    flex-direction: column;
}

/* 메인 컨텐츠 가운데로 배치*/
section > .main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section > .main_content {
    height: 884px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h2 {
    font-size: 2.5rem;
}

/* 반응형 */
@media screen and (min-width: 1380px) {
    nav > ul > li {
        font-size: var(--large-font-size);
        padding: 10px 30px;
    }

    #body_wrapper > .navbar_wrapper_content {
        display: flex;
        flex-direction: row;
    }

    .logo {
        font-size: var(--super-large-font-size);
    }

    nav > ul > li > a {
        padding: 10px;
    }

    h2 {
        font-size: 5.5rem;
    }
}
