@import url(reset.css);   

/* 토대가 되는 css 파일 */
/* 배경, 폰트, navbar, content */

* {
	box-sizing: border-box;      /* 상자경계를 기준으로 사이징하겠다*/
    font-family: 'Do Hyeon', sans-serif;
} 

/* !!!!! 배경 == 적용 안된다 !!!!! */
/* body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center center;  
} */

:root {
    --small-font-size : 20px;
    --medium-font-size : 26px;
    --large-font-size : 36px;
    --super-large-font-size : 42px;
}

/* 폰트 */
body {
    color: white;
    font-size: 2rem;
    padding: 30px;
}

/* 내비게이션 바 */
nav > ul > li {
    display: inline-block;     /* 리스트 가로 배치 */
    padding: 10px 30px;
    font-size: var(--medium-font-size);
}

nav > ul > li > a {
    color: white;
}

nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: var(--super-large-font-size);
}

/* 메인 컨텐츠 */
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#body_wrapper > section > .main_content > a {
    color: white;
}