.side {
	background-color: rgb(245, 241, 241);
	border-right: 2px solid rgb(43, 41, 41);
	position: fixed;
	height: 100%;
	width: 30%;
}

h1  {
	font-size: 1.8rem;
	text-align: center;
}

h3 {
	font-size: 1.3rem;
	text-align: center;
}

.menu {
	list-style-type: none;	
	padding: 0;
	background-color: grey;
}

.menu li a {
	display: block;
	padding: 10px ;
}

.menu li a:hover {
	background-color: yellow;
	color: greenyellow;
}

.main_img{
	width: 100%;
	height: 100%;
}
